<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandawork.mapper.lunbo.LunboMapper">

    <resultMap id="lunbo" type="com.pandawork.common.entity.lunbo.Lunbo" >
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="path" column="path"/>
    </resultMap>

    <select id="listAllLunbo" resultMap="lunbo">
        SELECT *
        FROM `t_lunbo`
    </select>

    <insert id="addLunbo">
        INSERT INTO `t_lunbo`
        (`name`,`path`)
        VALUES (#{lunbo.name}, #{lunbo.path})
    </insert>

    <delete id="delLunbo">
        DELETE FROM `t_lunbo`
        WHERE `id` = #{id}
    </delete>

    <update id="updateLunbo">
        UPDATE `t_lunbo`
        SET `name` = #{lunbo.name},
            `path` = #{lunbo.path}
        WHERE `id` = #{lunbo.id}
    </update>

    <select id="selectById" resultMap="lunbo" >
        SELECT *
        FROM `t_lunbo`
        WHERE `id` = #{id}
    </select>
</mapper>